<div class="jumbotron">
    <h2>Bienvenido!</h2>
    <p>Esta es una aplicación de registro de vehiculos donde podremos realizar las siguientes acciones</p>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Listar</h5>
                    <p class="card-text">Lista todos los vehiculos registrados en el sistema</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buscar</h5>
                    <p class="card-text">Se puede buscar un vehiculo por placa</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actualizar</h5>
                    <p class="card-text">Se puede actualizar la informacion del vehiculo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrar</h5>
                    <p class="card-text">Se puede registrar nuevos vehiculos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eliminar</h5>
                    <p class="card-text">Tambien se puede eliminar un vehiculo</p>
                </div>
            </div>
        </div>
    </div>
</div>
