<div class="card">
    <div class="card-header">

    </div>
</div>


<div class="jumbotron">
    <h1 class="display-4">Notas Estudiante HTML</h1>
    <p class="lead">A continuación vera las notas de los estudiantes</p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nota</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>



        <tbody>

            <tr *ngFor="let Estudiante of estudiantes">

                <th *ngIf="Estudiante.nota >= 3.0" scope="row">{{Estudiante.codigo}}</th>
                <td *ngIf="Estudiante.nota >= 3.0">{{Estudiante.nombre}}</td>
                <td *ngIf="Estudiante.nota >= 3.0">{{Estudiante.apellido}}</td>
                <td *ngIf="Estudiante.nota >= 3.0">{{Estudiante.nota}}</td>
                <td *ngIf="Estudiante.nota >= 3.0"><a *ngIf="Estudiante.nota >= 3.0">Aprobo</a> <a *ngIf=" 3.0 > Estudiante.nota">Reprobo</a></td>

                <th scope="row" class="alert alert-danger" role="alert" *ngIf=" 3.0 > Estudiante.nota">{{Estudiante.codigo}}</th>
                <td class="alert alert-danger" role="alert" *ngIf=" 3.0 > Estudiante.nota">{{Estudiante.nombre}}</td>
                <td class="alert alert-danger" role="alert" *ngIf=" 3.0 > Estudiante.nota">{{Estudiante.apellido}}</td>
                <td class="alert alert-danger" role="alert" *ngIf=" 3.0 > Estudiante.nota">{{Estudiante.nota}}</td>
                <td class="alert alert-danger" role="alert" *ngIf=" 3.0 > Estudiante.nota"><a *ngIf="Estudiante.nota >= 3.0">Aprobo</a> <a *ngIf=" 3.0 > Estudiante.nota">Reprobo</a></td>
            </tr>



        </tbody>

    </table>
</div>