<div class="jumbotron">
    <h2>
        Registro de vehiculos!
    </h2>
    <p>
        Diligencia el siguiente formulario para el registro de su vehiculo
    </p>
    <div class="row"></div>
    <div class="col-md-12">
        <form (ngSubmit)="insert()" #vehiculoForm="ngForm">
            <div class="form-group">

                <label for="placa">
                  Placa
                </label>
                <input type="text" class="form-control" id="placa" placeholder="placa" name="placa" [(ngModel)]="vehiculo.placa" minlength="6" #placa="ngModel" required/>
                <div class="alert alert-danger" *ngIf="placa.invalid && (placa.dirty || placa.touched)">
                    <div *ngIf="placa?.errors.required">placa es requerida</div>
                    <div *ngIf="placa?.errors.minlength">placa debe tener almenos 6 caracteres</div>
                </div>
            </div>
            <div class=" form-group ">
                <label for="marca ">
                  Marca
                </label>
                <input type="text " class="form-control " id="marca " placeholder="marca " name="marca " [(ngModel)]="vehiculo.marca" minlength="2" #marca="ngModel" required />
                <div class="alert alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                    <div *ngIf="marca?.errors.required">marca es requerida</div>
                    <div *ngIf="marca?.errors.minlength">marca debe tener almenos 2 caracteres</div>
                </div>
            </div>
            <div class="form-group ">
                <label for="modelo ">
                  Modelo
                </label>
                <input type="text " class="form-control " id="modelo " placeholder="modelo " name="modelo " [(ngModel)]="vehiculo.modelo " minlength="3" #modelo="ngModel" required/>
                <div class="alert alert-danger" *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)">
                    <div *ngIf="modelo?.errors.required">modelo es requerida</div>
                    <div *ngIf="modelo?.errors.minlength">modelo debe tener almenos 3 caracteres</div>
                </div>
            </div>
            <div class="form-group ">
                <label for="color ">
                  Color
                </label>
                <input type="text " class="form-control " id="color " placeholder="color " name="color " [(ngModel)]="vehiculo.color " minlength="2" #color="ngModel" required />
                <div class="alert alert-danger" *ngIf="color.invalid && (color.dirty || color.touched)">
                    <div *ngIf="color?.errors.required">color es requerida</div>
                    <div *ngIf="color?.errors.minlength">color debe tener almenos 2 caracteres</div>
                </div>
            </div>
            <button type="submit " class="btn btn-primary" [disabled]="!vehiculoForm.form.valid">
              Aceptar
            </button>
        </form>

    </div>
</div>